# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
.entorno/

# Distribution / Packaging
.Python-eggs/
.eggs/
dist/
build/
*.egg-info/
.next/

# Jupyter Notebook
.ipynb_checkpoints

# My Vscode files
.vscode

# Unit test
.pytest_cache/
.coverage
.coverage.*

# misc
.DS_Store